# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*.local

# Logs
logs
*.log
log/
pids
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# Build output (frontend and backend)
dist/
build/
coverage/
.cache/

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# React specific
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Misc
*.tgz
.debug/
.eslintcache

# Optional: MongoDB dump or data folder
dump/
data/
